html(lang="en")
  head
    title Bootstrap Theme Simply Me/title
    meta(charset="utf-8")  
    meta(name="viewport" content="width=device-width, initial-scale=1", charset="utf-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

    link(rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  

  body(id="myPage" data-spy="scroll" data-target="myNavbar" data-offset="500").
    

  block content